{% extends 'template.html' %}
{% load static %}

<body>
{% block body %}

<header>
        <div class="logo"><a href="index.html">CLAY-MADE</a></div>
        <nav>
            <ul>
                <li><a href="/" class="main">Главная</a></li>
                <li><a href="catalog.html">Магазин</a></li>
                <li><a href="delivery.html">Доставка и оплата</a></li>
                <li><a href="about.html" id="about">О нас</a></li>
                <li><img src='{% static "img/Корзина.svg" %}'></li>
                <li id="profile"><img src="img/Profile picture.png"></li>
            </ul>
        </nav>
    </header>

    <div class="maintitle">Наша история</div>
    <div class="img">
        <img src='{% static "about1under.png" %}' width="1800" height="320">
    </div>


    <div class="container">
        <div class="mainTextOnAbout">

            <div class="box1">

                <div class="text1">
                    <p>Сегодня наш интернет-магазин является одним из лучших мест для покупки керамических изделий
                        ручной
                        работы. Мы стремимся сохранять традиции ручной работы, одновременно внедряя новые технологии и
                        идеи.
                        Но с чего же все начиналось? </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 1 блок -->

    <div class="container-2">

        <div class="text-container-1">

            <div class="titleAbout2">Главная цель</div>

            <div class="text2">
                <p>История создания нашего магазина началась со встречи двух студенток: Анны и Марии на мастерклассе
                    в одной из мастерских Москвы. Они заметили, что хотя рынок керамики был довольно большим,
                    большинство изделий были массовыми производствами, не имевшими индивидуальности и креативности.
                    Таким образом, их целью было создать магазин, где покупатели смогут найти уникальные, ручной
                    работы керамические изделия, созданные с любовью и вниманием к каждой детали.</p>

                <p>
                    С этой целью Анна и Мария начали свое производство, где они создавали красивые и функциональные
                    предметы, такие как кружки, тарелки, вазы, горшки и т.д. Их изделия были уникальными, каждое
                    имело свой индивидуальный характер, созданный из натуральных материалов, с использованием
                    традиционных техник ручной работы.
                </p>
            </div>
        </div>

        <img src='{% static "about2.png" %}' alt="">

    </div>

    <!-- 2 блок -->

    <div class="container-3">

        <img src='{% static "about3.png" %}' alt="">

        <div class="text-container-2">

            <div class="titleAbout2">Политика нашего магазина</div>

            <div class="text2">
                <p>С первого дня работы магазина, мы старались создать уютную и дружелюбную атмосферу, где каждый
                    покупатель может найти керамическое изделие, которое отвечает его вкусам и потребностям. Наши
                    керамические изделия созданы с любовью и старанием, мы используем только самые лучшие материалы
                    и методы производства, чтобы обеспечить нашим клиентам высокое качество и долговечность.</p>

            </div>
        </div>


    </div>

    <!-- 3 блок -->
    <div class="container-4">

        <div class="text-container-3">

            <div class="titleAbout2">Цены</div>

            <div class="text2">
                <p>Мы предлагаем широкий ассортимент продуктов по различным ценам, чтобы удовлетворить потребности
                    разных клиентов. Мы ценим каждого нашего покупателя и стремимся предоставить доступные цены на
                    высококачественную керамику ручной работы.</p>

                <p>
                    Цены на наши керамические изделия зависят от многих факторов, таких как сложность производства,
                    объемы продаж, использованные материалы, и другие. Мы всегда стараемся держать цены на наши
                    продукты разумными и конкурентоспособными на рынке.
                </p>


                <p>
                    В нашем магазине вы можете найти как бюджетные варианты керамических изделий, так и более
                    дорогие, уникальные и эксклюзивные изделия, которые могут стать прекрасным подарком для себя или
                    близких.
                </p>
            </div>
        </div>

        <img src='{% static "about4.png" %}' alt="">

    </div>

   <button type="button"><a href="catalog.html">Перейти в каталог</a></button>

{% endblock %}
</body>

</html>
