{% extends 'template.html' %}
{% load static %}
{% block body %}

<div class="maintitle">Доставка и оплата</div>
    <div class="img">
        <img src="img\delivery.png" width="1800" height="320">
    </div>



    <div class="block1_delivery">

        <div class="leftside_delivery">
            <div class="title_delivery">Доставка по Москве</div>


            <div class="maintext_delivery">
                <p>Заказ доставляется на следующий день после оформления. Стоимость доставки— 450 р. Доставка день в
                    день рассчитывается индивидуально.</p>
            </div>
        </div>

        <div class="rightside_delivery">
            <div class="title_delivery">Доставка по России</div>


            <div class="maintext_delivery">
                <p>Доставка осуществляется «Почтой России» за счет покупателя. После оформления заказа мы свяжемся с
                    вами и согласуем детали.</p>
            </div>
        </div>
    </div>



    <div class="block2_delivery">

        <div class="leftside_delivery">
            <div class="title_delivery">Самовывоз</div>


            <div class="maintext_delivery">
                <p>Вы можете забрать заказ самостоятельно
                    в мастерской с понедельника по пятницу с 11.00 до 19.00 по адресу:
                    г. Москва, ул. Электрозаводская, д. 3, 4 этаж, направо до панно с блюдцами.</p>
            </div>
        </div>

        <div class="rightside_delivery">
            <div class="title_delivery">Доставка в другие страны</div>


            <div class="maintext_delivery">
                <p>Доставка в другие страны доступна, стоимость и время доставки зависят от места назначения, варианты
                    доставки предоставляются на этапе оформления заказа.</p>
            </div>
        </div>
    </div>

    <button type="button"><a href="catalog.html">Перейти в каталог</a></button>

{% endblock %}


    <footer>
        <div class="logo2">CLAY-MADE</div>
    </footer>

</body>

</html>