{% extends 'template.html' %}
{% load static %}

<body>

{% block body %}

<header>
    <div class="logo"><a href="index.html">CLAY-MADE</a></div>
    <nav>
        <ul>
            <li><a href="/" id="main">Главная</a></li>
            <li><a href="catalog.html">Магазин</a></li>
            <li><a href="delivery.html">Доставка и оплата</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><img src='{% static "img/Корзина.svg" %}'></li>
            <li id="signIn" onclick="signinopenPopup()">Вход / Регистрация</li>
<!--             <li id="profile"><img src="img/Profile picture.png"></li> &ndash;&gt;-->
        </ul>
    </nav>
</header>

    <!-- Основной блок слайдера -->
    <div class="slider">

        <!-- Первый слайд -->
        <div class="item">
            <img src='{% static "Gallary1.png" %}'>
        </div>

        <!-- Второй слайд -->
        <div class="item">
            <img src='{% static "slide2.png" %}'>
        </div>

        <!-- Третий слайд -->
        <div class="item">
            <img src='{% static "slide3.png" %}'>
        </div>

        <!-- Кнопки-стрелочки -->
        <a class="previous" onclick="previousSlide()"><img src='{% static "img/left.svg" %}'></a>
        <a class="next" onclick="nextSlide()"><img src='{% static "img/Right.svg" %}'></a>
    </div>


    <div class="About">

        <div class="titleAbout">
            <p>О мастерской</p>
        </div>
        <div class="text-box1">
            <p>Наша мастерская по изготовлению керамической посуды
                отметила свой десятый год существования. За это время мы
                стали одним из лидеров в производстве авторской керамики,
                обеспечивая качественную посуду как для частных клиентов,
                так и для ресторанов и кафе различных городов.</p>
        </div>

        <div class="text-box2">
            <p>Мы гордимся нашими семью коллекциями, каждая из которых
                отличается уникальностью и неповторимым дизайном. Наша
                посуда сочетает в себе элегантность форм, гармонию цветов
                и практичность использования. Мы делаем упор на комфортное
                использование посуды в повседневной жизни - все наши изделия
                можно легко мыть в посудомоечной машине и использовать в
                микроволновой печи без каких-либо опасений.</p>
        </div>
    </div>

    <div class="collage">
        <img src='{% static "Collage.png" %}' height="1304" width="1576">
    </div>

    <button type="button"><a href="catalog.html">Перейти в каталог</a></button>

    <div class="input">
        <div class="inputcontent">
            <div class="emailtext">
                Подпишись на рассылку, чтобы первым узнавать о новых коллекциях
            </div>
            <div class="inputEmail">
                <a href="mailto: 11111@gmail.com"></a>
                <input id="emailInput" type="email" placeholder="E-mail">
                <input id="emailSubmit" type="image" src='{% static "img/right.png" %}' width="26px" height="18px">
            </div>
        </div>
    </div>

    <!-- код для модального окна рассылки-->
    <div id="inputModal" class="modal">
        <div class="input-modal-content">
            <span class="close" >&times;</span>
            <h2>Вы подписались на рассылку!</h2>
        </div>
    </div>

    <!-- модальное окно входа -->

    <div class="signIn-modal" id="signInpopup">
        <div class="signIn-modal-content">
            <form id="popup-form">
                <h2 class="signIn-modal-title">Вход</h2>

                <label for="email_or_phone">Email / Номер телефона</label>
                <input type="text" id="email_or_phone" name="email_or_phone" >
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password">
                <div class="buttons">
                  <button type="submit" id="signbutton">Войти</button>
                  <a href="" id="signUp" onclick="opensignUpPopup()">Зарегистрироваться</a>
                </div>
              </form>
              <span class="signInclose" onclick="closePopup()">&times;</span>
        </div>

    </div>

{% endblock %}
</body>

</html>