@import "./reset.css";

* {
    font-family: Gilroy;
    box-sizing: border-box;
    text-decoration: none;
}


/* header */

header {
    max-width: 1800px;
    height: 104px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: Gilroy;
    letter-spacing: 5.5px;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;

}

.nav:first-child {
    margin-left: -100px;
}

nav {
    font-weight: normal;
}

#main {
    color: black;

}

#about {
    color: black;
}

#shop {
    color: black;
}

#delivery {
    color: black;
}

#catalog {
    color: black;
}

nav ul,
li {
    letter-spacing: 2px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    padding-right: 0px;
    margin-left: 100px;
}

#profile {
    margin-left: 40px;
    cursor: pointer;
}

#signIn {
    margin-left: 40px;
    cursor: pointer;
}

nav a {
    color: rgba(138, 138, 138, 1);
}

a {
    color: black;
}

nav a:hover {
    color: black;
}

/* попап для входа */

.signIn-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.signIn-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 60px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    position: relative;
}

#popup-form {
    max-width: 520px;
    flex-direction: column;
    align-items: center;
}

.signIn-modal-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: 520px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: #e9e6e6f3;
    color: black;
}

input[type="text"] {
    margin-bottom: 20px;
     color: black;
}

button[type="submit"] {
    border-radius: 10px;
    border: 0;
    height: 76px;
    width: 187px;
    font-weight: normal;
    font-size: 24px;
    background-color: white;
    border: 1.5px solid black;
    color: black;
    margin-top: 40px;
    margin-left: 0;
    display: block;
    cursor: pointer;
}

.buttonsignin:hover {
    background-color: black;
    color: white;
}

button[type="submit"]:hover {
    background-color: black;
    color: white;
}

#signUp {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 40px 0 0 auto;
    opacity: 60%;
    cursor: pointer;
    font-size: 20px;
}

#signUp:hover {
    opacity: 100%;
}


.buttons {
    display: flex;
    align-items: baseline;
}

.signInclose {
    color: #aaaaaa;
    font-size: 60px;
    font-weight: normal;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}




/* попап для регистрации */

.signUp-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.signUp-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 60px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    position: relative;
}

#popup-form {
    max-width: 520px;
    flex-direction: column;
    align-items: center;
}

.signUp-modal-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 520px;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: #e9e6e6f3;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 20px;
}


#signUp2 {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 40px 0 0 auto;
    opacity: 60%;
    cursor: pointer;
    font-size: 20px;
}

#signUp2:hover {
    opacity: 100%;
}


.buttons {
    display: flex;
    align-items: baseline;
}

.signUpclose {
    color: #aaaaaa;
    font-size: 60px;
    font-weight: normal;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

/* main */

.gallary {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(80%)
}


.About {
    text-align: center;
    margin-top: 80px;
}

.titleAbout p {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    margin-top: 80px;
}

.titleAbout2 {
    font-weight: normal;
    font-size: 36px;
}

.text-box1,
.text-box2 {
    width: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-weight: lighter;
    line-height: 182%;
    font-size: 24px;
}

.collage {
    text-align: center;
    margin-top: 80px;
}

button {
    border-radius: 10px;
    border: 0;
    height: 86px;
    width: 527px;
    font-weight: normal;
    font-size: 32px;
    background-color: white;
    border: 1.5px solid black;
    color: black;
    margin: 80px auto;
    display: block;
    cursor: pointer;
}

/*
.rectangle {
    width: 220px;
    height: 120px;
    background: #F7F7F7;
    border-radius: 20px;
    width: 1800px;
    height: 480px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
*/
.input {
    width: 220px;
    height: 120px;
    background: #DADBE0;
    border-radius: 20px;
    width: 1800px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.inputcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.emailtext {
    font-weight: lighter;
    font-size: 36px;
    max-width: 1300px;

}

.inputEmail {
    margin-top: 100px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    background-color: #DADBE0;
    font-size: 24px;
    color:  #DADBE0;
    align-items: flex-end;
}

#emailInput {
    width: 500px;
    background-color:  #DADBE0;
}



footer {
    background-color: #282629;
    height: 250px;
    margin-top: 120px;
}

.logo2 {
    font-family: Gilroy;
    letter-spacing: 5.5px;
    font-weight: 400;
    font-size: 24px;
    white-space: nowrap;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

/* about */

.maintitle {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container {
    margin-bottom: 80px;
}

.mainTextOnAbout {
    text-align: center;
    margin-top: 80px;
}

.text1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 182%;
}

.titleAbout {
    font-size: 36px;
    font-weight: 500;
    text-align: left;
}

.box1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 153px;
    width: 1212px;
}

.text2 {
    font-weight: lighter;
    font-size: 24px;
    opacity: 80%;
}

/* 1 блок */

.container-2 {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0 auto;
    max-height: 751px;
}

.container-2 img {
    width: 587px;
    height: 800px;
}

.text-container-1 {
    max-width: 738px;
    max-height: 800px;
}

.text-container-1 p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 182%;
    text-align: justify;
}

.text2 p:first-child {
    margin-bottom: 40px;
    margin-top: 60px;
}

/* 2 блок */

.container-3 {
    margin-top: 80px;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0 auto;
    max-height: 614px;
    margin-bottom: 80px;
}

.container-3 img {
    width: 737px;
    height: 614px;
    margin-top: 80px;
}

.text-container-2 {
    max-width: 593px;
    max-height: 400px;
    margin-top: 80px;
}

.text-container-2 p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 182%;
    text-align: justify;
}

/* 3 блок */

.container-4 {
    margin-top: 80px;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0 auto;
    margin-bottom: 80px;
}

.container-4 img {
    width: 581px;
    height: 748px;
    margin-top: 80px;
}

.text-container-3 {
    max-width: 736px;
    margin-top: 80px;
}

.text-container-3 p:first-child {
    margin-top: 60px;
}

.text-container-3 p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 182%;
    margin-top: 40px;
    text-align: justify;
}

/* Страница доставки */

.block1_delivery {
    margin-top: 80px;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0 auto;
}


.title_delivery {
    font-weight: 500;
    font-size: 36px;
}

.maintext_delivery {
    max-width: 600px;
    line-height: 182%;
    font-size: 24px;
    font-weight: lighter;
    opacity: 80%;
    margin-top: 40px;
    text-align: justify;
}


.block2_delivery {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0 auto;
}



/* Каталог */

.catalog_nav {
    display: flex;
    max-width: 1800px;
    margin: 80px auto 80px auto;
    font-size: 24px;
}

#filter {
    margin-right: 60px;
}

.catalog-1 {
    max-width: 1800px;
    max-height: 680px;
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-2 {
    max-width: 1800px;
    max-height: 680px;
    margin: 80px auto 20px auto;
    display: flex;
    justify-content: space-between;
}

.catalog-3 {
    max-width: 1800px;
    max-height: 680px;
    margin: 80px auto 20px auto;
    display: flex;
    justify-content: space-between;
}

.catalog-4 {
    max-width: 1800px;
    max-height: 680px;
    margin: 80px auto 20px auto;
    display: flex;
    justify-content: space-between;
}

.catalog-1-item {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.catalog-h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    opacity: 70%;
    height: 60px;
    width: 400px;
    margin-top: 20px;
}

.catalog-p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: black;
    max-width: 520px;
}

#plus {
    margin-top: 20px;
    height: 44px;
    width: 44px;
    cursor: pointer;
}

.additional {
    text-align: right;
    max-width: 520px;
    margin-top: 20px;
}

.textinfo {
    display: flex;
    max-width: 520px;
    justify-content: space-between;
}

#line {
    margin: 20px 50px 0 50px;
    max-width: 520px;
}


.container_catalog {
    align-items: center;
  }
/*
  .filterDiv {
    float: left;
    align-items: center;
    display: none;
  }

  /* В класс "show" добавляется к отфильтрованные элементы
  .show {
    display: block;
  }

  .btn:hover {
    color: black;
  }

  .btn.active {
    color: black;
  }

  .btn {
    color: #8A8A8A;
  }
*/



/* Слайдер: */

.slider {
    max-width: 1800px;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    margin: auto;
    height: 672px;
}


.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 1800px;
    height: 672px;
    filter: brightness(80%);
    border-radius: 10px;
}

/* Кнопки назад и вперёд: */
.slider .previous,
.slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /*!* Плавное появление фона при наведении курсора: *!*/
    /*transition: 0.6s ease;*/
    /*background-color: rgba(255, 255, 255, 0.3);*/
    /* Скругление границ: */
    border-radius: 2px;
}

.slider .next {
    right: 0;
}


/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {

    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.7
    }

    to {
        opacity: 1
    }
}


/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 70%;
    color: #333;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 60px;
    font-weight: normal;
    margin-top: -10px;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#cartItems ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cartItems li {
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

#cartItems li img {
    margin-right: 10px;
}

#cartSummary {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#cart {
    cursor: pointer;
}


/* модальное окно index.html */

#inputModal {
    display: none;
    position: fixed;
    z-index: 1;
    /* отображать поверх других элементов */
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.input-modal-content h2 {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 10%;
    border: 1px solid #888;
    width: 60%;
    height: 30%;
    text-align: center;
    border-radius: 10px;
}

.input-modal-content .close {
    color: #aaa;
    float: right;
    font-size: 60px;
    font-weight: normal;
    width: 22%;
    margin-top: 15px;
    margin-right: 20px;
}





/* модальное окно карточки товара */

.itemModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Стили для содержимого модального окна */
.item-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 60px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    display: flex;
}

/* Стили для кнопки закрытия модального окна */
.itemclose {
    color: #aaaaaa;
    font-size: 60px;
    font-weight: normal;
    margin-top: -20px;
}

.itemclose:hover,
.itemclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* Стили для изображения товара в модальном окне */
.item-modal-image {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    max-width: 500px;
}

.item-modal-image2 {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-right: 21px;
}

.item-modal-image3 {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-right: 21px;
}

.item-modal-image4 {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
}

.item-modal-image:hover {
    border: 3px solid black;
}

.item-modal-image2:hover {
    border: 3px solid black;
}

.item-modal-image3:hover {
    border: 3px solid black;
}

.item-modal-image4:hover {
    border: 3px solid black;
}

#additionalimg {
    flex-direction: row;
}

#mainimg {
    margin-bottom: 20px;
}

.images {
    flex-direction: column;
    max-width: 500px;
}



.description {
    flex-direction: column;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
}

/* Стили для заголовка товара в модальном окне */
.item-modal-title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 400;
}

/* Стили для описания товара в модальном окне */
.item-modal-description {
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 20px;
    opacity: 60%;
    font-weight: 200;
    max-width: 500px;
}

.price-popup {
    font-size: 36px;
    margin-left: 20px;
    font-weight: 400;
}

.addtocard-popup {
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
    align-items: flex-end;
    cursor: pointer;
}